{% extends 'base.html' %}
{% block content %}
    <div id="home" class="home-section">
        <div class="home-content">
            <h1>About Us</h1>
            <p>Discover the latest fashion trends and find your perfect outfit. Our collection offers a variety of styles to suit every taste.</p>
        </div>
    </div>

    <div class="contanier">
        <div class="row">
            <center>
                <div class="col-9">
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis a cras semper auctor neque vitae tempus. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis. Eu ultrices vitae auctor eu augue ut. Mattis rhoncus urna neque viverra. Gravida dictum fusce ut placerat orci nulla. Morbi enim nunc faucibus a pellentesque sit amet. Tortor dignissim convallis aenean et tortor at risus viverra adipiscing. Eu nisl nunc mi ipsum faucibus vitae. Ornare arcu odio ut sem. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Nunc sed id semper risus in hendrerit gravida. Diam quis enim lobortis scelerisque. Eget mauris pharetra et ultrices neque. Massa id neque aliquam vestibulum morbi. Orci phasellus egestas tellus rutrum tellus pellentesque. Id nibh tortor id aliquet lectus proin nibh nisl condimentum.
<br><br>
Mauris rhoncus aenean vel elit. Vitae justo eget magna fermentum iaculis. Ipsum consequat nisl vel pretium. Sit amet volutpat consequat mauris nunc congue nisi vitae. Volutpat maecenas volutpat blandit aliquam etiam. Amet nulla facilisi morbi tempus iaculis urna id volutpat lacus. Sed nisi lacus sed viverra tellus in. Vitae congue mauris rhoncus aenean vel elit scelerisque. Mattis enim ut tellus elementum sagittis vitae et. Etiam erat velit scelerisque in dictum non.
<br><br>
Sed elementum tempus egestas sed sed risus pretium. Massa tempor nec feugiat nisl. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies leo. Eget mauris pharetra et ultrices neque ornare. Nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue. Egestas quis ipsum suspendisse ultrices. Auctor eu augue ut lectus. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Arcu odio ut sem nulla pharetra diam sit amet nisl. Id velit ut tortor pretium viverra. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Urna cursus eget nunc scelerisque viverra mauris in. Viverra mauris in aliquam sem fringilla ut morbi. Vulputate ut pharetra sit amet aliquam id diam maecenas ultricies. Gravida quis blandit turpis cursus in. Varius sit amet mattis vulputate enim nulla aliquet.
                    </p>
                </div>
            </center>
        </div>
    </div>
{% endblock %}
